:root {
    --main-color: #00aeef;
    --transition: 0.5s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif !important;
    padding-right: 0 !important;
    overflow: auto !important;
}